@layout MainLayout

@using Radzen
@using Radzen.Blazor

@if (Sistemas == null)
{
    <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="margin-bottom: 20px" />
    <h4>Carregando...</h4>
}
else if (Sistemas != null)
{
    <RadzenProgressBar Value="100" ShowValue="false" Max="100" Style="margin-bottom: 20px" />
    @if (SistemaSelecionado?.Any() == true)
    {
        DesabilitarOk = false;
        <div style="margin-left: 16px">
            Sistema selecionado: @SistemaSelecionado[0].Id @Sistemas[0].Nome
        </div>
    }
    @if (Sistemas != null)
    {
        <RadzenContent Container="main">
            <ChildContent>
                <div class="row">
                    <div class="col-md-12">
                        <RadzenDataGrid @ref="GridPesquisaSistemas"
                                AllowFiltering="true"
                                AllowColumnResize="true"
                                EmptyText="A pesquisa não retornou resultados."
                                FilterMode="FilterMode.Simple"
                                PageSize="5"
                                PagerPosition="PagerPosition.TopAndBottom"
                                AllowPaging="true"
                                AllowSorting="true"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                LogicalFilterOperator="LogicalFilterOperator.Or"
                                AllowVirtualization="true"
                                SelectionMode="DataGridSelectionMode.Single"
                                Data="@Sistemas"
                                @bind-Value=@SistemaSelecionado
                                TItem="Sistema">
                            <Columns>
                                <RadzenDataGridColumn TItem="Sistema" Property="Id" Filterable="true" Title="ID" Frozen="false" Width="20px" TextAlign="TextAlign.Center" />
                                <RadzenDataGridColumn TItem="Sistema" Property="Nome" Title="Nome" Width="80px" />
                            </Columns>
                        </RadzenDataGrid>
                    </div>
                </div>
            </ChildContent>
        </RadzenContent>
        <br />
        <div class="row">
            <div class="col-md-12" style="display:flex; justify-content:flex-end; width:100%;">
                <RadzenButton Click="@((args) => DialogService.Close(new RetornoPesquisaSistema{SistemaId= string.Empty, SistemaNome = string.Empty}))" ButtonStyle="ButtonStyle.Secondary" Text="Cancelar" Style="width: 150px; margin-right:10px;"></RadzenButton>
                <RadzenButton Click="@((args) => DialogService.Close(new RetornoPesquisaSistema{SistemaId= Convert.ToString(SistemaSelecionado[0].Id), SistemaNome = Sistemas[0].Nome}))" Text="OK" Style="width: 150px;" Disabled=@DesabilitarOk></RadzenButton>
            </div>
        </div>
    }
}
