@page "/Consultas/LogAuditoria/ConsultaLogAuditoria"

@layout MainLayout

@if (Sistemas == null && erroRetornoAPI == null)
{
    <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="margin-bottom: 20px" />
    <h4>Carregando...</h4>
}
else if (Sistemas != null || erroRetornoAPI?.Message != null)
{
    <RadzenProgressBar Value="100" ShowValue="false" Max="100" Style="margin-bottom: 20px" />
    <RadzenHeading Size="H2" Text="Consultar Log de Auditoria"></RadzenHeading>
    @if (Sistemas != null)
    {
        <RadzenContent Container="main">
            <ChildContent>
                <RadzenTemplateForm Data="@parametroConsultaLogAuditoria" Visible="@(parametroConsultaLogAuditoria != null)" TItem="ParametroConsultaLogAuditoria" Submit="@EnviarFormulario">
                    <ChildContent>
                        <div class="row">
                            <div class="col-md-6">
                                <RadzenFieldset Text="Sistema">
                                    <div style="margin-bottom: 1rem" class="row">
                                        <div class="col-md-12">
                                            <RadzenLabel Text="Nome Sistema:" style="display:inline-block;width: 45%;overflow: hidden;text-overflow: ellipsis;"></RadzenLabel>
                                        </div>
                                        <div class="col-md-12">
                                            <RadzenDropDown Name="drpSistemas" Disabled="@DesabilitarCampo" AllowClear="true" AllowFiltering="true" Placeholder="Selecione" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data=@Sistemas TextProperty="Nome" ValueProperty="Id" @bind-Value=@parametroConsultaLogAuditoria.SistemaId style="display: block; width: 75%" />
                                        </div>
                                        <div class="col-md-12">
                                            <RadzenRequiredValidator Component="drpSistemas" Text="É necessário informar um sistema." style="position: absolute"></RadzenRequiredValidator>
                                        </div>
                                    </div>
                                </RadzenFieldset>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <RadzenFieldset Text="Filtros">
                                    <div style="margin-bottom: 1rem" class="row">
                                        <div class="col-md-12">
                                            <RadzenLabel Text="Período Inicial:" style="display:inline-block;width: 208px;overflow: hidden;text-overflow: ellipsis;"></RadzenLabel>
                                            <RadzenLabel Text="Período Final:" style="display:inline-block;width: 208px;overflow: hidden;text-overflow: ellipsis;"></RadzenLabel>
                                        </div>
                                        <div class="col-md-12">
                                            <RadzenDatePicker Name="DatepickerPeriodoInicial" Disabled="@DesabilitarCampo" AllowClear="true" TValue="DateTime?" ShowTime="true" ShowSeconds="true" HoursStep="1" MinutesStep="5" SecondsStep="10" YearRange="2020:2050" Change=@(args => OnChangeRecuperarFiltroPeriodoInicial(args)) />
                                            <RadzenDatePicker Name="DatepickerPeriodoFinal" Disabled="@DesabilitarCampo" AllowClear="true" TValue="DateTime?" ShowTime="true" ShowSeconds="true" HoursStep="1" MinutesStep="5" SecondsStep="10" YearRange="2020:2050" Change=@(args => OnChangeRecuperarFiltroPeriodoFinal(args)) />
                                        </div>
                                    </div>

                                    <div style="margin-bottom: 1rem" class="row">
                                        <div class="col-md-12">
                                            <RadzenLabel Text="Identificador Usuário:" style="display:inline-block;width: 100%;overflow: hidden;text-overflow: ellipsis;"></RadzenLabel>
                                        </div>
                                        <div class="col-md-12">
                                            <RadzenTextBox Name="txtIdentificadorUsuario" Disabled="@DesabilitarCampo" @bind-Value="@parametroConsultaLogAuditoria.CodigoIdentificadorUsuario" MaxLength="100" style="display: inline-block; width: 100%"></RadzenTextBox>
                                        </div>
                                    </div>

                                    <div class="row" style="padding-left: 15px;padding-right: 15px;margin-bottom: 1rem">
                                        <div class="col-md-8" style="padding-left: 0px;padding-right: 0px">
                                            <div class="col-md-12" style="padding-left: 0px;padding-right: 0px">
                                                <RadzenLabel Text="Funcionalidade:" style="display:inline-block;width: 100%;overflow: hidden;text-overflow: ellipsis;"></RadzenLabel>
                                            </div>
                                            <div class="col-md-12" style="padding-left: 0px;padding-right: 0px">
                                                <RadzenTextBox Name="txtFuncionalidade" Disabled="@DesabilitarCampo" @bind-Value="@parametroConsultaLogAuditoria.Funcionalidade" MaxLength="100" style="display: inline-block; width:  100%"></RadzenTextBox>
                                            </div>
                                        </div>

                                        <div class="col-md-2" style="padding-left: 3px;padding-right: 3px;">
                                            <div class="col-md-12" style="padding-left: 0px;padding-right: 0px">
                                                <RadzenLabel Text="Operação:" style="display:inline-block;width: 100%;overflow: hidden;text-overflow: ellipsis;"></RadzenLabel>
                                            </div>
                                            <div class="col-md-12" style="padding-left: 0px;padding-right: 0px">
                                                <RadzenDropDown Data="@tiposOperacao" Disabled="@DesabilitarCampo" @bind-Value="@tipoOperacao" Style="width:100%" />
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-12" style="display:flex; justify-content:flex-end; width:100%;">
                                            <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="close" Text="Limpar" Click="@LimparConsulta" Style="width: 175px; margin-right:5px" Disabled=@DesabilitarBtnLimpar></RadzenButton>

                                            <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Consultar" ButtonStyle="ButtonStyle.Primary" Style="width: 175px;" Disabled=@DesabilitarBtnConsultar></RadzenButton>
                                        </div>
                                    </div>

                                </RadzenFieldset>
                            </div>
                        </div>
                    </ChildContent>
                </RadzenTemplateForm>
            </ChildContent>
        </RadzenContent>
        <br />

        @if (LogsAuditoria == null && BuscandoRegistros == true)
        {
            <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="margin-bottom: 20px" />
            <h4>Carregando...</h4>
        }
        else
        {
            <RadzenProgressBar Value="100" ShowValue="false" Max="100" Style="margin-bottom: 20px" />
            <p>Total de registros encontrados: @TotalRegistrosPesquisa</p>
            <RadzenContent Container="main2">
                <ChildContent>
                    <div class="row">
                        <div class="col-md-12">
                            <RadzenDataGrid @ref="GridConsultaLogAuditoria"
                                AllowFiltering="true"
                                AllowColumnResize="true"
                                EmptyText="A pesquisa não retornou resultados."
                                FilterMode="FilterMode.Simple"
                                PageSize="100"
                                PagerPosition="PagerPosition.TopAndBottom"
                                AllowPaging="true"
                                AllowSorting="true"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                LogicalFilterOperator="LogicalFilterOperator.Or"
                                AllowVirtualization="true"
                                Data="@LogsAuditoria"
                                TItem="LogAuditoria">

                                <Columns>
                                    <RadzenDataGridColumn TItem="LogAuditoria" Property="CodigoLogAuditoria" Visible="false" Filterable="true" Title="CÓDIGO DO LOG" Frozen="false" Width="120px" TextAlign="TextAlign.Center" />
                                    <RadzenDataGridColumn TItem="LogAuditoria" Property="DataOcorrencia" Title="DATA/HORA" Width="150px" />
                                    <RadzenDataGridColumn TItem="LogAuditoria" Property="CodigoIdentificadorUsuario" Title="IDENTIFICADOR USUÁRIO" Width="180px" />
                                    <RadzenDataGridColumn TItem="LogAuditoria" Property="NomeFuncionalidade" Title="FUNCIONALIDADE" Width="150px" />
                                    <RadzenDataGridColumn TItem="LogAuditoria" Property="NomeOperacao" Title="OPERAÇÃO" Width="120px" />
                                    <RadzenDataGridColumn TItem="LogAuditoria" Property="Conteudo" Title="CONTEUDO" Width="400px" />
                                </Columns>
                            </RadzenDataGrid>
                        </div>
                    </div>
                </ChildContent>
            </RadzenContent>
        }
    }
    else
    {
        <p>@erroRetornoAPI.Message</p>
    }
}