@inject MediatR.IMediator _mediatr
@inject NavigationManager NavigationManager

@if (erro)
{
    <h3>Ocorreu um problema na requisição. </h3>
}
else
{
<EditForm Model="@Data" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <h3>Adicionar Sistema</h3>
    <hr />
    <div class="form-group row">
        <label for="Nome" class="col-sm-2 col-form-label">Nome:</label>
        <div class="col-sm-10">
            <InputText id="Nome" class="form-control" placeholder="Nome" @bind-Value="@Data.Nome" />
        </div>
    </div>
    <div class="form-group row">
        <label for="UrlServicoConsultaLog" class="col-sm-2 col-form-label">UrlServicoConsultaLog:</label>
        <div class="col-sm-10">
            <InputText id="UrlServicoConsultaLog" class="form-control" placeholder="UrlServicoConsultaLog" @bind-Value="@Data.UrlServicoConsultaLog" />
        </div>
    </div>
    <div class="form-group row">
        <label for="UsuarioLogin" class="col-sm-2 col-form-label">UsuarioLogin:</label>
        <div class="col-sm-10">
            <InputText id="UsuarioLogin" class="form-control" placeholder="UsuarioLogin" @bind-Value="@Data.UsuarioLogin" />
        </div>
    </div>
    <div class="form-group row">
        <label for="UsuarioSenha" class="col-sm-2 col-form-label">Nome:</label>
        <div class="col-sm-10">
            <InputText id="UsuarioSenha" class="form-control" placeholder="UsuarioSenha" @bind-Value="@Data.UsuarioSenha" />
        </div>
    </div>
    <button type="submit">Cadastrar</button>
    <input type="button" class="btn" @onclick="@Cancela" value="Cancela" />
</EditForm>
}

@code {

    AdicionaSistema.Command Data;
    private bool erro;

    protected override async Task OnInitializedAsync()
    {
        await Task.FromResult(Data = new AdicionaSistema.Command());
    }

    private async Task HandleValidSubmit()
    {
        try
        {
            Task tarefa = Task.FromResult(await _mediatr.Send(Data));

            if (tarefa.IsCompletedSuccessfully == false)
            {
                erro = true;
            }
        }
        finally
        {
            Data = new AdicionaSistema.Command();
            NavigationManager.NavigateTo("sistemas");
        }

    }

    void Cancela()
    {
        NavigationManager.NavigateTo("sistemas");
    }

}
