@page "/cadastros/sistemas/editasistema/{id:int}"

@layout MainLayout

@if (sistema == null && erroRetornoAPI == null)
{
    <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="margin-bottom: 20px" />
    <h4>Carregando...</h4>
}
else if (sistema != null || erroRetornoAPI?.Message != null)
{
    <RadzenProgressBar Value="100" ShowValue="false" Max="100" Style="margin-bottom: 20px" />
    @if (sistema != null)
    {
        <RadzenContent Container="main">
            <ChildContent>
                <RadzenHeading Size="H2" Text="Editar Sistema"></RadzenHeading>
                <div class="row">
                    <div class="col-md-6">
                        <RadzenTemplateForm Data="@sistema" Visible="@(sistema != null)" TItem="Sistema" Submit="@EnviarFormulario">
                            <ChildContent>
                                  <RadzenFieldset Text="Parametrizar sistema">
                            <div style="margin-bottom: 1rem" class="row">
                                <div class="col-md-12">
                                    <RadzenLabel Text="Nome:" Component="txtNomeSistema" style="width: 100%"></RadzenLabel>
                                    <RadzenTextBox Name="txtNomeSistema" MaxLength="100" style="display: block; width: 100%" @bind-Value="@sistema.Nome"></RadzenTextBox>
                                    <RadzenRequiredValidator Component="txtNomeSistema" Text="Nome do sistema é obrigatório." style="position: absolute"></RadzenRequiredValidator>
                                </div>
                            </div>
                            <RadzenFieldset Text="Informações de acesso ao serviço">
                                <div style="margin-bottom: 1rem" class="row">
                                    <div class="col-md-12">
                                        <RadzenLabel Text="URL:" Component="txtUrlServicoConsultaLog" style="width: 100%"></RadzenLabel>
                                        <RadzenTextBox Name="txtUrlServicoConsultaLog" MaxLength="150" style="display: block; width: 100%" @bind-Value="@sistema.UrlServicoConsultaLog"></RadzenTextBox>
                                        <RadzenRequiredValidator Component="txtUrlServicoConsultaLog" Text="Url de acesso ao serviço é obrigatória." style="position: absolute"></RadzenRequiredValidator>
                                    </div>
                                </div>
                                <div style="margin-bottom: 1rem" class="row">
                                    <div class="col-md-12">
                                        <RadzenLabel Text="Usuário:" Component="txtUsuarioLogin" style="width: 100%"></RadzenLabel>
                                        <RadzenTextBox MaxLength="10" style="display: block; width: 100%" @bind-Value="@sistema.UsuarioLogin" Name="txtUsuarioLogin">
                                        </RadzenTextBox>
                                        <RadzenRequiredValidator Component="txtUsuarioLogin" Text="Login do usuário de acesso ao serviço é obrigatório." style="position: absolute">
                                        </RadzenRequiredValidator>
                                    </div>
                                </div>
                                <div style="margin-bottom: 1rem" class="row">
                                    <div class="col-md-12">
                                        <RadzenLabel Text="Senha:" Component="txtUsuarioSenha" style="width: 100%"></RadzenLabel>
                                        <RadzenTextBox Name="txtUsuarioSenha" MaxLength="10" style="display: block; width: 100%" @bind-Value="@sistema.UsuarioSenha"></RadzenTextBox>
                                        <RadzenRequiredValidator Component="txtUsuarioSenha" Text="Senha do usuário de acesso ao serviço é obrigatória." style="position: absolute"></RadzenRequiredValidator>
                                    </div>
                                </div>
                            </RadzenFieldset>
                            <br />
                            <div class="row">
                                <div class="col-md-12" style="display:flex; justify-content:flex-end; width:100%;">
                                    <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="close" Text="Cancelar" Click="@NavegarPaginaSistemas" Style="width: 150px; margin-right:5px"></RadzenButton>
                                    <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Salvar" ButtonStyle="ButtonStyle.Primary" Style="width: 150px;"></RadzenButton>
                                </div>
                            </div>
                        </RadzenFieldset>
                            </ChildContent>
                        </RadzenTemplateForm>
                    </div>
                </div>
            </ChildContent>
        </RadzenContent>
    }
    else
    {
        <p>@erroRetornoAPI.Message</p>
    }
}